# Git-based prerequisites for AquaMVS
# Install these BEFORE installing aquamvs
# PyTorch must be installed separately from pytorch.org (see INSTALL.md)

git+https://github.com/cvg/LightGlue.git@edb2b83
git+https://github.com/Parskatt/RoMaV2.git@95c9968145c8906b7b59383258e9f73b02853d89
